<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">

      <h2>メール確認を再送信</h2>

      <%= form_with(model: resource, scope: resource_name, url: confirmation_path(resource_name), method: :post) do |f| %>
        <% if resource.errors.any? %>
          <div class="alert alert-danger">
            <%= resource.errors.full_messages.to_sentence %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control", required: true, autofocus: true %>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "メール確認を再送信", class: "btn btn-secondary mb-3" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
