<% if @material.errors.any? %>
<div id="error_explanation" class="m-auto mb-2">
    <h2>
        <%= t('oroshi.dashboard.form_error_header', 
        error_count: @material.errors.count, 
        model_name: Oroshi::Material.model_name.human) %>
    </h2>

    <ul>
        <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="d-flex flex-wrap place-items-center justify-content-around align-middle gap-2">

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :name, @material) %>
        <%= form.text_field :name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :cost, @material) %>
        <%= form.number_field :cost, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :per, @material) %>
        <%= form.select :per, 
                    Oroshi::Material.pers
                    .keys.map { |per| [I18n.t("enums.oroshi_material.per.#{per}"), per] },
                    {}, 
                    class: 'form-select form-select-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :material_category_id, @material) %>
        <%= form.collection_select :material_category_id, 
                              Oroshi::MaterialCategory.all, 
                              :id, :name, 
                              { prompt: I18n.t('oroshi.material.material_category_id') }, 
                              { class: 'form-select form-select-sm' } %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :image, @material) %>
        <%= form.file_field :image, class: 'form-control form-control-sm' %>
    </div>

</div>

<div class="d-flex justify-content-end align-items-center align-middle mt-2">
    <div class="form-check form-switch">
        <%= form.check_box :active, 
                  { class: 'form-check-input', 
                    checked: @material.active?,
                    data: {
                      action: 'click->oroshi--dashboard#toggleActive',
                      refresh_targets: 'oroshi_material_category_materials'
                    } } %>
        <%= form.label :active, class: 'form-check-label', for: 'activeSwitch' %>
    </div>
</div>