<% title t('oroshi.documentation.shipping.receptacles.title') %>

<h1><%= t('oroshi.documentation.shipping.receptacles.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.shipping.receptacles.intro') %></p>

<h2><%= t('oroshi.documentation.shipping.receptacles.what_are_receptacles') %></h2>
<p><%= t('oroshi.documentation.shipping.receptacles.what_are_receptacles_body') %></p>

<h2><%= t('oroshi.documentation.shipping.receptacles.per_box_estimate') %></h2>
<p><%= t('oroshi.documentation.shipping.receptacles.per_box_estimate_body') %></p>

<h2><%= t('oroshi.documentation.shipping.receptacles.managing') %></h2>
<p><%= t('oroshi.documentation.shipping.receptacles.managing_body') %></p>

<%= doc_see_also("orders/creating_orders", "financials/materials_costs") %>
