<% title t('oroshi.documentation.shipping.shipping_dashboard.title') %>

<h1><%= t('oroshi.documentation.shipping.shipping_dashboard.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.shipping.shipping_dashboard.intro') %></p>

<h2><%= t('oroshi.documentation.shipping.shipping_dashboard.shipping_chart') %></h2>
<p><%= t('oroshi.documentation.shipping.shipping_dashboard.shipping_chart_body') %></p>

<h2><%= t('oroshi.documentation.shipping.shipping_dashboard.shipping_list') %></h2>
<p><%= t('oroshi.documentation.shipping.shipping_dashboard.shipping_list_body') %></p>

<h2><%= t('oroshi.documentation.shipping.shipping_dashboard.shipping_slips') %></h2>
<p><%= t('oroshi.documentation.shipping.shipping_dashboard.shipping_slips_body') %></p>

<%= doc_see_also("orders/dashboard_tabs", "orders/bundling_orders") %>
