<%= turbo_frame_tag 'orders_dashboard' do %>


<%= render 'oroshi/orders/dashboard/shared/filter_buttons/filter_card', view: 'revenue' %>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-<%= @order_category_id %>" role="tabpanel" aria-labelledby="pills-<%= @order_category_id %>-tab" tabindex="0">
        <div class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start align-items-stretch align-middle gap-2 mb-2 relative" data-controller="oroshi--orders--revenue">
            <%= render 'oroshi/orders/dashboard/revenue/revenue_section_nav' %>
            <div id="revenue_top" class="d-flex flex-column justify-content-around align-items-stretch align-middle gap-2 ms-2">
                <%= render 'oroshi/orders/dashboard/revenue/revenue_totals' %>
                <% @grouped_orders.each do |product, product_orders| %>
                <%= render partial: 'oroshi/orders/dashboard/revenue/revenue_product', 
                      locals: { product: product, product_orders: product_orders } %>
                <% end %>
                <%= render 'oroshi/orders/dashboard/revenue/daily_expenses' %>
            </div>
        </div>
    </div>
</div>

<% end %>