<%= cache [product.cache_key_with_version, 'order_list_card', product.position, product.updated_at] do %>
<div class="order-grid-item d-block position-absolute z-1" data-oroshi--orders--order-template-view-target="orderGridItem" data-position="<%= product.position %>" data-product-id="<%= product.id %>">
    <div class="card w-100 mb-2 me-2">
        <div class="card-header fw-bold d-flex justify-content-between align-middle align-content-center">
            <div class="position-display flex-shrink-1 opacity-25"><%= product.position %></div>
            <div class="d-flex"><%= product_title_modal_link(product) %></div>
            <div class="handle flex-shrink-1 opacity-25 cursor-pointer">
                <%= icon('grip-vertical') %>
            </div>
        </div>
        <ul class="list-group list-group-flush small">
            <% end %>
            <%= yield %>
        </ul>
    </div>
</div>