<% turbo_frame_tag 'oroshi_dashboard_stats', 
                    class: 'card m-1' do %>
<div class="card-body">
    <div class="d-flex justify-content-between justify-items-center align-middle">
        <h4 class="card-title"><%= t('.stats') %></h4>
        <%= information_tippy('stats') %>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            組織数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::SupplierOrganization.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            生産者数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::Supplier.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            供給種類数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::SupplyType.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            供給種類数種品数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::SupplyTypeVariation.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            出荷組織数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::ShippingOrganization.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            出荷数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::ShippingMethod.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            卸先数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::Buyer.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            出荷容器数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::ShippingReceptacle.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            商品包装数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::Packaging.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            製造材料
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::Material.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            商品数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::Product.active.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            商品変種数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::ProductVariation.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            供給品数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::Supply.with_quantity.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            供給ある日数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::SupplyDate.with_supplies.count %>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            注文テンプレート数
            <span class="badge text-bg-primary rounded-pill">
                <%= Oroshi::OrderTemplate.count %>
            </span>
        </li>
    </ul>
</div>
<% end %>