<div class="d-flex flex-column">
    <div class="d-flex w-100 mb-3">
        <% date_change_path ||= @invoice.present? ? 'supply_invoice_actions_oroshi_supply_dates_path' : 'supply_price_actions_oroshi_supply_dates_path' %>
        <%= form_with url: send(date_change_path),
                      method: :get, class: 'flex-grow-1',
                      data: {
                        oroshi__supplies__calendar_target: 'dateChangeForm',
                        action: 'oroshi--supplies--calendar#modalChangeDates:prevent'
                        } do |f| %>
        <%= f.hidden_field :supply_dates,
                              value: @supply_dates.pluck(:date).join(','),
                              data: {
                                oroshi__supplies__calendar_target: 'supplyDates'
                              } %>
        <div class="w-100 d-flex flex-column gap-1 justify-content-center align-items-center align-middle">
            <div class="d-flex fs-6" id="date_title">
                <div class="input-group">
                    <%= f.date_field :start_date, value: @dates.first,
                                  class: 'form-control text-center',
                                  data: {
                                    init_date: @dates.first,
                                    oroshi__supplies__calendar_target: 'startDate',
                                  },
                                  disabled: @invoice&.persisted? %>
                    <div class="input-group-text cursor-default">~</div>
                    <%= f.date_field :end_date, value: @dates.last,
                                  class: 'form-control text-center',
                                  data: {
                                    init_date: @dates.last,
                                    oroshi__supplies__calendar_target: 'endDate',
                                  },
                                  disabled: @invoice&.persisted? %>
                    <button type="submit" class="btn btn-secondary" data-oroshi--supplies--calendar-target="modalChangeDateSubmitButton" disabled>
                        <%= t('oroshi.supplies.modals.action_scaffold.date_change') %>
                    </button>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <div class="d-flex mb-3 cursor-pointer" data-oroshi--supplies--calendar-target="selectedSupplyDates">
        <% joins = @supply_dates.flat_map(&:supply_date_supply_type_variations) %>
        <% if joins.empty? %>
        <%= t('oroshi.supplies.modals.action_scaffold.no_supply') %>
        <% else %>
        <% supply_dates_with_supply = @supply_dates.select{|supply_date| supply_date.supply.any? } %>
        <span data-controller='tippy' data-tippy-content="<center><%= supply_dates_with_supply.map{ |supply_date| l(supply_date.date, format: :long) }.join(', ') %></center>">
            <%= t('oroshi.supplies.modals.action_scaffold.supply_days_count', count: supply_dates_with_supply.count) %>
        </span>
        <% end %>
    </div>
    <div data-oroshi--supplies--calendar-target="modalBody">
        <% if joins.empty? %>
        <div class="w-100 text-center">
            <%= t('oroshi.supplies.modals.action_scaffold.cannot_reflect_no_supply') %>
        </div>
        <% else %>
        <%= yield :modal_content %>
        <% end %>
    </div>
</div>
