<% title t('oroshi.documentation.orders.searching_orders.title') %>

<h1><%= t('oroshi.documentation.orders.searching_orders.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.orders.searching_orders.intro') %></p>

<h2><%= t('oroshi.documentation.orders.searching_orders.search_methods') %></h2>
<ul>
  <li><%= t('oroshi.documentation.orders.searching_orders.method_date') %></li>
  <li><%= t('oroshi.documentation.orders.searching_orders.method_keyword') %></li>
  <li><%= t('oroshi.documentation.orders.searching_orders.method_filter') %></li>
</ul>

<h2><%= t('oroshi.documentation.orders.searching_orders.calendar_view') %></h2>
<p><%= t('oroshi.documentation.orders.searching_orders.calendar_view_body') %></p>

<h2><%= t('oroshi.documentation.orders.searching_orders.advanced_search') %></h2>
<p><%= t('oroshi.documentation.orders.searching_orders.advanced_search_body') %></p>

<%= doc_see_also("orders/dashboard_tabs", "orders/creating_orders") %>
