<% title t('oroshi.documentation.getting_started.first_login.title') %>

<h1><%= t('oroshi.documentation.getting_started.first_login.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.getting_started.first_login.intro') %></p>

<h2><%= t('oroshi.documentation.getting_started.first_login.dashboard_overview') %></h2>
<p><%= t('oroshi.documentation.getting_started.first_login.dashboard_overview_body') %></p>

<h2><%= t('oroshi.documentation.getting_started.first_login.main_areas') %></h2>
<ul>
  <li><strong><%= t('oroshi.documentation.getting_started.first_login.area_navbar') %></strong></li>
  <li><strong><%= t('oroshi.documentation.getting_started.first_login.area_tabs') %></strong></li>
  <li><strong><%= t('oroshi.documentation.getting_started.first_login.area_content') %></strong></li>
</ul>

<h2><%= t('oroshi.documentation.getting_started.first_login.next_steps') %></h2>
<p><%= t('oroshi.documentation.getting_started.first_login.next_steps_body') %></p>

<%= doc_see_also("getting_started/navigation", "getting_started/onboarding") %>
