<nav id="top_nav" class="navbar navbar-light bg-silver navbar-expand-lg px-3" data-turbo-permanent>
    <%= link_to main_app.root_path, class: 'navbar-brand p-0 d-block d-lg-none', data: { turbo: false } do %>
    <%= image_tag "oroshi.png", class: "oroshi-brand", alt: "OROSHI", height: 60 %>
    <% end %>
    <button class="navbar-toggler m-1 float-end bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_t" aria-controls="navbar_t" aria-expanded="false" aria-label="<%= t('layouts.application.navbar.toggle') %>">
        <%= icon('menu-down', class: 'text-primary') %>
    </button>
    <div class="collapse navbar-collapse" id="navbar_t">
        <%= link_to main_app.root_path, class: 'navbar-brand m-0 p-0 d-none d-lg-block' do %>
        <%= image_tag "oroshi.png", class: "oroshi-brand", alt: "OROSHI", height: 60 %>
        <% end %>
        <% if user_signed_in? %>
        <ul class="navbar-nav h5 ms-3 me-auto mt-2 mt-lg-0">
            <li><%= link_to t('layouts.application.navbar.supply_settings'), oroshi.root_path, class: "nav-link light_link" %></li>
            <li><%= link_to t('layouts.application.navbar.supplies'), oroshi.supplies_path, class: "nav-link light_link" %></li>
            <li class="nav-item"><%= link_to t('layouts.application.navbar.orders'), oroshi.orders_path, class: "nav-link light_link" %></li>
            <li class="nav-item"><%= link_to t('layouts.application.navbar.order_search'), oroshi.search_orders_path, class: "nav-link light_link" %></li>
            <% if current_user.vip? || current_user.admin? %>
            <li><%= link_to t('layouts.application.navbar.payments'), oroshi.payment_receipts_path, class: "nav-link light_link" %></li>
            <% end %>
        </ul>
        <ul class="navbar-nav">
            <% if user_signed_in? %>
            <span class="navbar-text">
                <div class="btn-group" role="group" aria-label="Basic">
                    <% if current_user.onboarding_progress&.checklist_dismissed? %>
                    <%= link_to icon("play-circle", class: 'text-dark'),
                                          oroshi.resume_onboarding_path(current_user.onboarding_progress.current_step || 'company_info'),
                                          method: :post,
                                          class: 'navbar-link btn btn-warning tippy',
                                          data: { tippy_content: t('layouts.application.navbar.setup_resume') } %>
                    <% end %>
                    <%= button_to main_app.destroy_user_session_path,
                            id: "sign_out",
                            class: "bg-warning text-dark border-0 p-0 m-0",
                            method: :delete,
                            form_class: 'navbar-link btn btn-warning tippy',
                            form: { data: { tippy_content: t('layouts.application.navbar.logout'), turbo: false } } do %>
                    <%= icon("arrow-up-right-circle-fill", class: 'text-dark') %>
                    <% end %>
                    <%= link_to icon("file-person", class: 'text-dark'),
                          main_app.edit_user_registration_path,
                          class: 'navbar-link btn btn-warning tippy',
                          data: {
                            tippy_content: "
                              #{t('layouts.application.navbar.email')}<strong>:<br><small>#{current_user.email}
                              </small></strong><br>#{t('layouts.application.navbar.username')}<strong>:<br>#{current_user.username}
                            "
                          } %>
                </div>
            </span>
            <% else %>
            <span class="ms-auto navbar-text">
                <%= link_to t('layouts.application.navbar.signup'), main_app.new_user_registration_path, class: 'navbar-link'  %> |
                <%= link_to t('layouts.application.navbar.login'), main_app.new_user_session_path, method: :post, class: 'navbar-link'  %>
            </span>
            <% end %>
        </ul>
        <% else %>
        <span class="ms-auto navbar-text">
            <%= link_to t('layouts.application.navbar.signup'), main_app.new_user_registration_path, class: 'navbar-link'  %> |
            <%= link_to t('layouts.application.navbar.login'), main_app.new_user_session_path, method: :post, class: 'navbar-link'  %>
            <% end %>
    </div>
</nav>