<% title t('oroshi.documentation.production.production_zones.title') %>

<h1><%= t('oroshi.documentation.production.production_zones.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.production.production_zones.intro') %></p>

<h2><%= t('oroshi.documentation.production.production_zones.what_are_zones') %></h2>
<p><%= t('oroshi.documentation.production.production_zones.what_are_zones_body') %></p>

<h2><%= t('oroshi.documentation.production.production_zones.configuring') %></h2>
<p><%= t('oroshi.documentation.production.production_zones.configuring_body') %></p>

<h2><%= t('oroshi.documentation.production.production_zones.zone_assignment') %></h2>
<p><%= t('oroshi.documentation.production.production_zones.zone_assignment_body') %></p>

<%= doc_see_also("production/factory_floor", "admin/product_management") %>
