<% title t('oroshi.documentation.admin.buyer_management.title') %>

<h1><%= t('oroshi.documentation.admin.buyer_management.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.admin.buyer_management.intro') %></p>

<h2><%= t('oroshi.documentation.admin.buyer_management.creating_buyers') %></h2>
<p><%= t('oroshi.documentation.admin.buyer_management.creating_buyers_body') %></p>

<h2><%= t('oroshi.documentation.admin.buyer_management.cost_settings') %></h2>
<ul>
  <li><strong><%= t('oroshi.documentation.admin.buyer_management.handling_cost') %></strong></li>
  <li><strong><%= t('oroshi.documentation.admin.buyer_management.optional_cost') %></strong></li>
  <li><strong><%= t('oroshi.documentation.admin.buyer_management.commission') %></strong></li>
</ul>

<h2><%= t('oroshi.documentation.admin.buyer_management.shipping_association') %></h2>
<p><%= t('oroshi.documentation.admin.buyer_management.shipping_association_body') %></p>

<h2><%= t('oroshi.documentation.admin.buyer_management.color_coding') %></h2>
<p><%= t('oroshi.documentation.admin.buyer_management.color_coding_body') %></p>

<%= doc_see_also("orders/creating_orders", "financials/profit_calculation", "shipping/shipping_methods") %>
