<% title t('oroshi.documentation.admin.company_setup.title') %>

<h1><%= t('oroshi.documentation.admin.company_setup.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.admin.company_setup.intro') %></p>

<h2><%= t('oroshi.documentation.admin.company_setup.fields') %></h2>
<ul>
  <li><%= t('oroshi.documentation.admin.company_setup.field_name') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_postal') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_address') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_phone') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_fax') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_email') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_web') %></li>
  <li><%= t('oroshi.documentation.admin.company_setup.field_invoice') %></li>
</ul>

<h2><%= t('oroshi.documentation.admin.company_setup.saving') %></h2>
<p><%= t('oroshi.documentation.admin.company_setup.saving_body') %></p>

<%= doc_see_also("getting_started/onboarding", "financials/invoices") %>
