<% title t('oroshi.documentation.admin.index.title') %>

<h1><%= t('oroshi.documentation.admin.index.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.admin.index.intro') %></p>

<h2><%= t('oroshi.documentation.admin.index.overview') %></h2>
<p><%= t('oroshi.documentation.admin.index.overview_body') %></p>

<h2><%= t('oroshi.documentation.admin.index.settings_list') %></h2>
<ul>
  <li><%= t('oroshi.documentation.admin.index.setting_company') %></li>
  <li><%= t('oroshi.documentation.admin.index.setting_buyers') %></li>
  <li><%= t('oroshi.documentation.admin.index.setting_products') %></li>
  <li><%= t('oroshi.documentation.admin.index.setting_users') %></li>
</ul>

<%= doc_see_also("getting_started/onboarding", "admin/company_setup", "admin/buyer_management", "admin/product_management") %>
