<div class='w-100 flex-fill d-flex justify-content-center align-items-center gap-2'>
  <h4 class="text-center mb-0">
    <%= t('oroshi.supply_dates.show.header_title') %>
  </h4>
  <%= render 'oroshi/exports/export_button', export_type: 'supply', date: @supply_date.date %>
</div>

<%= form_with model: @supply_date,
              class: "container-xl d-block d-lg-flex gap-3 mb-3 justify-content-center align-items-center" do |f| %>
  <div class="input-group m-auto m-lg-0 max-w-300px">
    <span class="input-group-text py-1 px-2">
      <%= t('oroshi.supply_dates.show.reception_date_label') %>
    </span>
    <%= f.text_field :date, 
                    class: "form-control form-control-sm disabled text-center",
                    label: false,
                    wrapper: false,
                    disabled: true,
                    data: {
                        controller: "flatpickr",
                        include_time: false,
                        supply_link: true,
                        init_date: @supply_date.date.strftime("%Y-%m-%d")
                      } %>
  </div>
<% end %>