<%= render 'oroshi/orders/dashboard/shared/order_list_card', product: product do %>
  <% (Array(orders&.keys) + Array(templates&.keys)).uniq.sort_by(&:name).each do |product_variation| %>
      <%= cache [product_variation.cache_key_with_version, 'order_list_card_product_variant', product_variation.updated_at] do %>
        <li class="list-group-item list-group-item-light fw-bold d-flex justify-content-center align-items-center align-middle">
          <%= product_variation_title_modal_link(product_variation) %>
        </li>
        <li class="list-group-item px-1 d-flex flex-column justify-content-between align-items-center align-middle">
      <% end %>
      <%= turbo_frame_tag "product_variation_#{product_variation.id}_orders_templates" do %>
        <% sorted_array = combined_sorted_orders_and_templates(orders, templates, product_variation) %>
      
        <% sorted_array.each do |item| %>
          <%= render_order_or_template(item) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>