<% if @payment_receipt_adjustment_type.errors.any? %>
<div id="error_explanation" class="m-auto mb-2">
    <h2>
        <%= t('oroshi.dashboard.form_error_header', 
        error_count: @payment_receipt_adjustment_type.errors.count, 
        model_name: Oroshi::PaymentReceiptAdjustmentTypes.model_name.human) %>
    </h2>

    <ul>
        <% @payment_receipt_adjustment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="d-flex flex-wrap place-items-center justify-content-around align-middle gap-2">

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :name, @payment_receipt_adjustment_type) %>
        <%= form.text_field :name, class: 'form-control form-control-sm' %>
    </div>

</div>

<div class="d-flex justify-content-end align-items-center align-middle">
    <div class="form-check form-switch">
        <%= form.check_box :active, class: 'form-check-input', id: 'activeSwitch', checked: true  %>
        <%= form.label :active, t('oroshi.production_zone.active'), class: 'form-check-label', for: 'activeSwitch' %>
    </div>
</div>