<h2>Forgot your password?</h2>

<%= form_with(model: resource, scope: resource_name, url: password_path(resource_name), method: :post) do |f| %>
  <% if resource.errors.any? %>
    <div class="alert alert-danger">
      <%= resource.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", required: true, autofocus: true %>
  </div>

  <div class="d-grid gap-2">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
