<% if @product.errors.any? %>
<div id="error_explanation" class="m-auto mb-2">
    <h2>
        <%= t('oroshi.dashboard.form_error_header', 
        error_count: @product.errors.count, 
        model_name: Oroshi::Product.model_name.human) %>
    </h2>

    <ul>
        <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="d-flex flex-wrap place-items-center justify-content-around align-middle gap-2">

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :name, @product) %>
        <%= form.text_field :name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :units, @product) %>
        <%= form.text_field :units, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :supply_type_id, @product) %>
        <%= form.collection_select :supply_type_id, 
                              Oroshi::SupplyType.active.order(:name), 
                              :id, :name, 
                              { }, 
                              { class: 'form-select form-select-sm' } %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :tax_rate, @product) %>
        <%= form.number_field :tax_rate, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle" data-controller="tippy" data-tippy-content="表示順序は注文処理ページで自動的に設定されます">
        <%= label_with_validation_warning(form, :position, @product) %>
        <%= text_field_tag nil, form.object.position, 
                      class: 'form-control form-control-sm',
                      disabled: true %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :supply_loss_adjustment, @product) %>
        <%= form.number_field :supply_loss_adjustment, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill gap-2 place-items-center justify-content-around align-middle">
        <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
            <%= label_with_validation_warning(form, :exterior_height, @product) %>
            <%= form.number_field :exterior_height, class: 'form-control form-control-sm' %>
        </div>

        <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
            <%= label_with_validation_warning(form, :exterior_width, @product) %>
            <%= form.number_field :exterior_width, class: 'form-control form-control-sm' %>
        </div>

        <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
            <%= label_with_validation_warning(form, :exterior_depth, @product) %>
            <%= form.number_field :exterior_depth, class: 'form-control form-control-sm' %>
        </div>
    </div>
</div>


<div class="input-group input-group-sm mb-1 flex-wrap justify-content-center place-items-center align-middle mt-2">
    <%= content_tag :span, 
                  class: 'input-group-text me-1 rounded mb-1 cursor-pointer no-select', 
                  data: { 
                    action: 'click->oroshi--dashboard#checkToggle',
                    controller: 'tippy',
                    tippy_content: 'すべて選択解除で選択 ',
                  } do %>
    <%= form.label :materials, class: 'form-label small' %>
    <% end %>
    <div class="input-group-text d-flex flex-column rounded mb-1 p-0 flex-grow-1 justify-content-center place-items-center align-middle">
        <% Oroshi::Material.active.active.includes(:material_category).group_by(&:material_category).each do |material_category, materials| %>
        <div class="d-flex border-bottom w-100 flex-fill justify-content-center place-items-center align-middle gap-1">
            <div class="vertical p-2 text-muted fw-bold border-end"><%= material_category.name %></div>
            <div class="d-flex flex-fill flex-wrap flex-grow-1 justify-content-center place-items-center align-middle">
                <%= form.collection_check_boxes :material_ids, materials, :id, :name do |material| %>
                <div class="form-check form-check-inline d-flex flex-fill justify-content-center place-items-center align-middle" data-controller="tippy" data-tippy-content="<%= material.object.cost %> / <%= I18n.t("enums.oroshi_material.per.#{material.object.per}") %>">
                    <%= material.check_box class: "form-check-input align-self-center",
                                      data: { 
                                        material_id: material.object.id,
                                        action: 'change->oroshi--dashboard#updateImages',
                                        target: 'material_images'
                                      } %>
                    <%= material.label class: "form-check-label align-self-center ms-2" %>
                </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
    <%= turbo_frame_tag 'material_images',
                      src: images_oroshi_materials_path(material_ids: @product.materials.pluck(:id)),
                      loading: 'lazy' do %>
    <div class="d-flex w-100 text-center justify-content-center align-items-center align-middle">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">読み込み中...</span>
        </div>
    </div>
    <% end %>
</div>

<div class="d-flex justify-content-end align-items-center align-middle">
    <div class="form-check form-switch">
        <%= form.check_box :active, 
                  { class: 'form-check-input', 
                    checked: @product.active?,
                    data: {
                      action: 'click->oroshi--dashboard#toggleActive',
                      refresh_targets: 'dashboard_frame'
                    } } %>
        <%= form.label :active, class: 'form-check-label' %>
    </div>
</div>