<% title t('oroshi.documentation.financials.payment_receipts.title') %>

<h1><%= t('oroshi.documentation.financials.payment_receipts.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.financials.payment_receipts.intro') %></p>

<h2><%= t('oroshi.documentation.financials.payment_receipts.quick_entry') %></h2>
<p><%= t('oroshi.documentation.financials.payment_receipts.quick_entry_body') %></p>

<h2><%= t('oroshi.documentation.financials.payment_receipts.single_entry') %></h2>
<p><%= t('oroshi.documentation.financials.payment_receipts.single_entry_body') %></p>

<h2><%= t('oroshi.documentation.financials.payment_receipts.adjustments') %></h2>
<p><%= t('oroshi.documentation.financials.payment_receipts.adjustments_body') %></p>

<h2><%= t('oroshi.documentation.financials.payment_receipts.search') %></h2>
<p><%= t('oroshi.documentation.financials.payment_receipts.search_body') %></p>

<%= doc_see_also("financials/profit_calculation", "orders/order_lifecycle") %>
