<% title t('oroshi.documentation.financials.profit_calculation.title') %>

<h1><%= t('oroshi.documentation.financials.profit_calculation.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.financials.profit_calculation.intro') %></p>

<h2><%= t('oroshi.documentation.financials.profit_calculation.formula') %></h2>
<div class="alert alert-light border">
  <code class="fs-6"><%= t('oroshi.documentation.financials.profit_calculation.formula_body') %></code>
</div>

<h2><%= t('oroshi.documentation.financials.profit_calculation.revenue_detail') %></h2>
<p><%= t('oroshi.documentation.financials.profit_calculation.revenue_detail_body') %></p>

<h2><%= t('oroshi.documentation.financials.profit_calculation.shipping_detail') %></h2>
<p><%= t('oroshi.documentation.financials.profit_calculation.shipping_detail_body') %></p>

<h2><%= t('oroshi.documentation.financials.profit_calculation.materials_detail') %></h2>
<p><%= t('oroshi.documentation.financials.profit_calculation.materials_detail_body') %></p>

<h2><%= t('oroshi.documentation.financials.profit_calculation.adjustments') %></h2>
<p><%= t('oroshi.documentation.financials.profit_calculation.adjustments_body') %></p>

<%= doc_see_also("financials/revenue_tracking", "financials/materials_costs", "shipping/shipping_methods", "orders/creating_orders") %>
