<% title t('oroshi.documentation.financials.revenue_tracking.title') %>

<h1><%= t('oroshi.documentation.financials.revenue_tracking.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.financials.revenue_tracking.intro') %></p>

<h2><%= t('oroshi.documentation.financials.revenue_tracking.dashboard') %></h2>
<p><%= t('oroshi.documentation.financials.revenue_tracking.dashboard_body') %></p>

<h2><%= t('oroshi.documentation.financials.revenue_tracking.per_buyer') %></h2>
<p><%= t('oroshi.documentation.financials.revenue_tracking.per_buyer_body') %></p>

<h2><%= t('oroshi.documentation.financials.revenue_tracking.daily_summary') %></h2>
<p><%= t('oroshi.documentation.financials.revenue_tracking.daily_summary_body') %></p>

<%= doc_see_also("financials/profit_calculation", "orders/dashboard_tabs", "admin/buyer_management") %>
