<% if @shipping_method.errors.any? %>
<div id="error_explanation" class="m-auto mb-2">
    <h2>
        <%= t('oroshi.dashboard.form_error_header', 
        error_count: @shipping_method.errors.count, 
        model_name: Oroshi::ShippingMethod.model_name.human) %>
    </h2>

    <ul>
        <% @shipping_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="d-flex flex-wrap place-items-center justify-content-around align-middle gap-2">

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :name, @shipping_method) %>
        <%= form.text_field :name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :handle, @shipping_method) %>
        <%= form.text_field :handle, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :shipping_organization_id, @shipping_method) %>
        <%= form.collection_select :shipping_organization_id, 
                                @shipping_organizations, :id, 
                                :name, 
                                { selected: @shipping_method.shipping_organization ? @shipping_method.shipping_organization.id : @shipping_organizations.first.id }, 
                                { class: 'form-select form-select-sm' } %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle"> <%= label_with_validation_warning(form, :daily_cost, @shipping_method) %>
        <%= form.number_field :daily_cost, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :per_shipping_receptacle_cost, @shipping_method) %>
        <%= form.number_field :per_shipping_receptacle_cost, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :per_freight_unit_cost, @shipping_method) %>
        <%= form.number_field :per_freight_unit_cost, class: 'form-control form-control-sm' %>
    </div>
</div>

<% if @shipping_method.persisted? %>
<div class="d-flex justify-content-end align-items-center align-middle mt-2">
    <div class="form-check form-switch">
        <%= form.check_box :active, 
                  { class: 'form-check-input', 
                    checked: @shipping_method.active?,
                    data: {
                      action: 'click->oroshi--dashboard#toggleActive',
                      refresh_targets: 'dashboard_frame'
                    } } %>
        <%= form.label :active, class: 'form-check-label' %>
    </div>
</div>
<% end %>