<%= turbo_frame_tag 'dashboard_frame' do %>
<div class="d-flex justify-content-between justify-items-center align-middle">
    <h3 class="card-title ms-1 mb-2"><%= t('oroshi.dashboard.index.products') %></h3>
    <%= information_tippy('products') %>
</div>

<div class="d-flex flex-column align-items-center flex-lg-row align-items-lg-start justify-content-around">

    <%= turbo_frame_tag 'products',
                        src: oroshi_products_path,
                        loading: 'lazy', 
                        class: 'card',
                        style: 'min-width: 18rem;' do %>
    <%= render partial: 'oroshi/shared/card_body_spinner' %>
    <% end %>

    <% product_path = @product.present? ? load_oroshi_product_path(@product) : load_oroshi_products_path %>
    <%= turbo_frame_tag 'product_settings',
                        src: product_path,
                        loading: 'lazy',
                        class: 'container ms-lg-0',
                        style: 'min-width: 0;' do %>
    <div class="row">
        <div class="col-12 text-center">
            <%= render partial: 'oroshi/shared/spinner' %>
        </div>
    </div>
    <% end %>

</div>
<% end %>