 <%= turbo_frame_tag 'dashboard_frame' do %>
  <div class="d-flex justify-content-between justify-items-center align-middle">
    <h3 class="card-title ms-1 mb-2"><%= t('oroshi.dashboard.index.shipping') %></h3>
    <%= information_tippy('shipping_organizations') %>
  </div>

  <div class="d-flex flex-column align-items-center flex-lg-row align-items-lg-start justify-content-around">

    <%= turbo_frame_tag 'shipping_organizations', 
                        src: oroshi_shipping_organizations_path, 
                        loading: 'lazy', 
                        class: 'card m-1',
                        style: 'min-width: 18rem;' do %>
      <%= render partial: 'oroshi/shared/card_body_spinner' %>
    <% end %>

    <% shipping_setting_path = @shipping_organization ? load_oroshi_shipping_organization_path(@shipping_organization) : load_oroshi_shipping_organizations_path %>
    <%= turbo_frame_tag 'shipping_organizations_shipping_settings',
                        src: shipping_setting_path,
                        loading: 'lazy',
                        class: 'container ms-lg-0' do %>
      <div class="row">
        <div class="col-12 text-center">
          <%= render partial: 'oroshi/shared/spinner' %>
        </div>
      </div>
    <% end %>

  </div>

<% end %>
