<%= turbo_frame_tag 'dashboard_frame' do %>
<div class="d-flex justify-content-between justify-items-center align-middle">
    <h3 class="card-title ms-1 mb-2"><%= t('oroshi.dashboard.index.supply_types') %></h3>
</div>

<div class="d-flex flex-column align-items-center flex-lg-row align-items-lg-start justify-content-around">

    <%= turbo_frame_tag 'supply_types',
                        src: oroshi_supply_types_path,
                        loading: 'lazy', 
                        class: 'card m-1',
                        style: 'min-width: 18rem;' do %>
    <%= render partial: 'oroshi/shared/card_body_spinner' %>
    <% end %>

    <% supply_type_path = @supply_type.present? ? load_oroshi_supply_type_path(@supply_type) : load_oroshi_supply_types_path %>
    <%= turbo_frame_tag 'supply_type_settings',
                        src: supply_type_path,
                        loading: 'lazy',
                        class: 'container ms-lg-0' do %>
    <div class="row">
        <div class="col-12 text-center">
            <%= render partial: 'oroshi/shared/spinner' %>
        </div>
    </div>
    <% end %>

</div>
<% end %>