<% if @supplier.errors.any? %>
<div id="error_explanation" class="m-auto mb-2">
    <h2>
        <%= t('oroshi.dashboard.form_error_header', 
            error_count: @supplier.errors.count, 
            model_name: Oroshi::Supplier.model_name.human) %>
    </h2>

    <ul>
        <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="d-flex flex-wrap place-items-center justify-content-around align-middle gap-2">

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :company_name, @supplier) %>
        <%= form.text_field :company_name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :short_name, @supplier) %>
        <%= form.text_field :short_name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :supplier_number, @supplier) %>
        <%= form.text_field :supplier_number, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :supplier_organization_id, @supplier) %>
        <%= form.collection_select :supplier_organization_id, 
                            @supplier_organizations, :id, 
                            :entity_name, 
                            { selected: @supplier.supplier_organization ? @supplier.supplier_organization.id : @supplier_organizations.first&.id },
                            { class: 'form-select form-select-sm' } %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :invoice_name, @supplier) %>
        <%= form.text_field :invoice_name, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :honorific_title, @supplier) %>
        <%= form.text_field :honorific_title, class: 'form-control form-control-sm' %>
    </div>

    <div class="d-flex justify-content-between align-items-center align-middle">
        <div class="input-group input-group-sm" id="representatives">
            <% representatives = @supplier.representatives.present? ? @supplier.representatives : [''] %>
            <% representatives.each do |representative| %>
            <div class="representative d-flex flex-column me-2">
                <%= label_with_validation_warning(form, :representatives, @supplier) %>
                <%= form.text_field :representatives, multiple: true, value: representative, class: "form-control form-control-sm" %>
            </div>
            <% end %>
        </div>
        <div class="d-flex justify-content-end align-items-end align-middle">
            <%= button_tag type: 'button', 
                    class: 'btn btn-sm btn-secondary remove-representative',
                    data: {
                      action: 'click->oroshi--suppliers--representatives#removeRepresentative:prevent'
                    } do %>
            <%= icon('dash') %>
            <% end %>
            <%= button_tag type: 'button', 
            class: 'btn btn-sm ms-2 btn-secondary add-representative',
            data: {
              action: 'click->oroshi--suppliers--representatives#addRepresentative:prevent'
            } do %>
            <%= icon('plus') %>
            <% end %>
        </div>
    </div>

    <div class="d-flex flex-fill flex-column place-items-center justify-content-around align-middle">
        <%= label_with_validation_warning(form, :invoice_number, @supplier) %>
        <%= form.text_field :invoice_number, class: 'form-control form-control-sm' %>
    </div>

    <div class="input-group input-group-sm mb-1 flex-wrap justify-content-center place-items-center align-middle">
        <%= content_tag :span, 
                    class: 'input-group-text me-1 rounded mb-1 cursor-pointer no-select', 
                    data: { 
                      action: 'click->oroshi--dashboard#checkToggle',
                      controller: 'tippy',
                      tippy_content: t('oroshi.dashboard.uncheck_all'),
                    } do %>
        <%= I18n.t('oroshi.supplier.supply_type_variation_ids') %>
        <% end %>
        <div class="input-group-text d-flex flex-column rounded mb-1 p-0 flex-grow-1 justify-content-center place-items-center align-middle">
            <% Oroshi::SupplyTypeVariation.active.includes(:supply_type).group_by(&:supply_type).each do |supply_type, supply_type_variations| %>
            <div class="d-flex border-bottom w-100 flex-fill justify-content-center place-items-center align-middle gap-1">
                <div class="vertical p-2 text-muted fw-bold border-end"><%= supply_type.name %></div>
                <div class="d-flex flex-fill flex-wrap flex-grow-1 justify-content-center place-items-center align-middle">
                    <%= form.collection_check_boxes :supply_type_variation_ids, supply_type_variations, :id, :to_s do |variant| %>
                    <div class="form-check form-check-inline d-flex flex-fill justify-content-center place-items-center align-middle ">
                        <%= variant.check_box class: "form-check-input align-self-center", data: { supply_type_variation_id: variant.object.id } %>
                        <%= variant.label class: "form-check-label align-self-center ms-2" %>
                    </div>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <%= render partial: 'oroshi/addresses/edit', 
            locals: { form: form, addresses: @supplier.addresses } %>

    <% if @supplier.persisted? %>
    <div class="d-flex flex-fill align-self-end justify-content-end align-items-center align-middle me-1">
        <div class="form-check form-switch">
            <%= form.check_box :active, 
                    { class: 'form-check-input', 
                      checked: @supplier.active?,
                      data: {
                        action: 'click->oroshi--dashboard#toggleActive',
                        refresh_targets: 'supplier_organizations'
                      } } %>
            <%= form.label :active, class: 'form-check-label', for: 'activeSwitch' %>
        </div>
    </div>
    <% end %>