<% title t('oroshi.documentation.supply_chain.supply_check_sheets.title') %>

<h1><%= t('oroshi.documentation.supply_chain.supply_check_sheets.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.supply_chain.supply_check_sheets.intro') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_check_sheets.generating') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_check_sheets.generating_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_check_sheets.contents') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_check_sheets.contents_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_check_sheets.printing') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_check_sheets.printing_body') %></p>

<%= doc_see_also("supply_chain/supply_intake") %>
