<% title t('oroshi.documentation.supply_chain.supply_intake.title') %>

<h1><%= t('oroshi.documentation.supply_chain.supply_intake.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.supply_chain.supply_intake.intro') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_intake.daily_workflow') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_intake.daily_workflow_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_intake.entry_form') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_intake.entry_form_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_intake.reception_times') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_intake.reception_times_body') %></p>

<%= doc_see_also("supply_chain/suppliers", "supply_chain/supply_check_sheets") %>
