<% title t('oroshi.documentation.supply_chain.supply_types.title') %>

<h1><%= t('oroshi.documentation.supply_chain.supply_types.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.supply_chain.supply_types.intro') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_types.type_hierarchy') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_types.type_hierarchy_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_types.creating_types') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_types.creating_types_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.supply_types.variations') %></h2>
<p><%= t('oroshi.documentation.supply_chain.supply_types.variations_body') %></p>

<%= doc_see_also("supply_chain/supply_intake", "admin/product_management") %>
