<% title t('oroshi.documentation.supply_chain.suppliers.title') %>

<h1><%= t('oroshi.documentation.supply_chain.suppliers.title') %></h1>
<p class="lead"><%= t('oroshi.documentation.supply_chain.suppliers.intro') %></p>

<h2><%= t('oroshi.documentation.supply_chain.suppliers.organization_level') %></h2>
<p><%= t('oroshi.documentation.supply_chain.suppliers.organization_level_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.suppliers.supplier_details') %></h2>
<p><%= t('oroshi.documentation.supply_chain.suppliers.supplier_details_body') %></p>

<h2><%= t('oroshi.documentation.supply_chain.suppliers.managing_suppliers') %></h2>
<p><%= t('oroshi.documentation.supply_chain.suppliers.managing_suppliers_body') %></p>

<%= doc_see_also("supply_chain/supply_types", "financials/invoices") %>
