<%= turbo_frame_tag dom_id(@order), class: 'w-100' do %>

<% @product_variation = @order.product_variation %>
<% shipping_receptacle = @order.shipping_receptacle %>
<% product = @product_variation.product %>
<% default_freight_bundle_quantity = shipping_receptacle.default_freight_bundle_quantity %>
<% default_per_box = @product_variation.default_per_box %>
<% spacing_volume_adjustment = @product_variation.spacing_volume_adjustment || 0.90 %>
<% estimate_per_box_quantity = default_per_box&.positive? ? default_per_box : shipping_receptacle.estimate_per_box_quantity(product, adjustment: spacing_volume_adjustment) %>

<%= form_with model: [:oroshi, @order],
              url: oroshi_quantity_update_order_path(@order), 
              class: 'w-100 d-flex justify-content-between align-items-center align-middle rounded border-0 border-success mb-1',
              data: {
                controller: 'oroshi--orders--order',
                action: 'submit->oroshi--orders--order#orderFormSubmit:prevent',
                oroshi__orders__order_template_view_target: 'orderGridSubItem',
                default_freight_bundle_quantity: default_freight_bundle_quantity,
                estimate_per_box_quantity: estimate_per_box_quantity
              } do |form| %>
<div class="input-group input-group-sm flex-nowrap">
    <%= order_category_handles(@order) %>
    <%= order_title_modal_link %>
    <%= order_number_field(form, :item_quantity, value: @order.item_quantity, readonly: 'readonly') %>
    <span class="input-group-text p-1" alt="数" data-controller="tippy" data-tippy-content="商品数 入力・表示"><%= icon('tag') %></span>
    <%= order_number_field(form, :receptacle_quantity, value: @order.receptacle_quantity) %>
    <span class="input-group-text p-1" alt="箱" data-controller="tippy" data-tippy-content="箱数 入力・表示"><%= icon('box-seam') %></span>
    <%= order_number_field(form, :freight_quantity, value: @order.freight_quantity, readonly: 'readonly') %>
    <span class="input-group-text p-1" alt="荷" data-controller="tippy" data-tippy-content="荷物数 入力・表示"><%= icon('truck-front') %></span>
    <%= button_tag type: 'submit',
                      class: 'btn btn-sm btn-light border',
                      data: {
                        oroshi__orders__order_target: 'orderFormSubmit',
                        controller: 'tippy',
                        tippy_content: '注文を更新する'
                      } do %>
    <%= icon('box-seam') %>
    <% end %>
</div>
<% end %>
<% end %>