<%= turbo_frame_tag 'orders_modal_content', class: 'modal-content overflow-hidden' do  %>
  <div class="modal-header">
    <div class="modal-title w-100 d-flex flex-column gap-1 justify-content-center align-items-center align-middle" id="supplyActionModalLabel">
      <div class="fs-5"><%= Oroshi::ProductInventory.model_name.human %>管理</div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-header text-center d-flex flex-column gap-1">
    <div class="fw-bold"><%= @product_inventory.product_variation %> - <%= @product_inventory %></div>
    <div class="fst-italic">製造日: <%= @product_inventory.manufacture_date %>  ~  賞味・消費期限: <%= @product_inventory.expiration_date %></div>
  </div>

  <div class="modal-header text-center d-flex flex-column gap-1">

    <% if @product_inventory.persisted? %>
      <%= turbo_frame_tag dom_id(@product_inventory), src: edit_oroshi_product_inventory_path(@product_inventory) %>
    <% else %>
      <%= render 'new' %>
    <% end %>

  </div>

  <div class="modal-body">

    <%= render partial: 'product_inventory', locals: { product_inventory: @product_inventory } %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
  </div>
<% end %>
